@charset "UTF-8";

/*
--------------------------------------------------
SITEMAP style
author: HPG ogiwara
version: Aug 2020
--------------------------------------------------*/

@media (max-width: 480px) {
	h2 {
		font-size: 160%;
	}
}

.alert-warning {
	color: #FA4B4B;
	background-color: #fff6f0;
	border-color: #fb6a6a61;
}

#content .alert-warning ul {
	margin-bottom: 0;
}


/*===== TOP 緊急連絡ボタン =====*/
.topmenu {
	padding: 0;
	margin: 10px -2px;
}

.topmenu .btn {
	position: relative;
	font-size: 1.3em;
	box-shadow: none;
	line-height: 1.3;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center;
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
	border-radius: 0;
}

.topmenu .btn::after {
	position: absolute;
	font-family: FontAwesome;
	content: "\f054";
	color: #fff;
	font-weight: 600;
	font-size: 1em;
	top: 50%;
	right: 5px;
	margin-top: -0.6em;
}

.topmenu .label {
	padding: 0.05em 0.5em;
	line-height: 1.5;
	margin-left: 0px;
	margin-right: 5px;
	vertical-align: middle;
	border: solid 0px #666666;
	background-color: #fff;
}

p.topmenu span.label.label-outline {
	line-height: 1.5;
}

@media (max-width: 991px) {
	.topmenu .btn {
		font-size: 1.3em;
		padding: 0.5em 0;
		box-shadow: none;
	}
}

@media (max-width: 768px) {
	.topmenu .btn {
		font-size: 1.1em;
		padding: 0.5em 0;
		box-shadow: none;
	}
}
/******************ボーダーボタン pink*******************/
.topmenu .btn.btn-pink.btn-square {
	background: repeating-linear-gradient(to top, #f95c5f, #f96366, #f9777a 4px, #f95c5f 3px);
	color: #FFF;
	border: solid 1px #fff;
	outline: solid 3px #f97a7c;
}
.topmenu .btn.btn-pink.btn-square:hover,.topmenu .btn.btn-pink.btn-square:active,.topmenu .btn.btn-pink.btn-square:active:focus {
	background: repeating-linear-gradient(to top, #f94d50, #f94d50, #FA676B 4px, #f94d50 3px);
	color: #FFF;
	border: solid 1px #fff;
	outline: solid 3px #f94d50;
	outline-offset: 0px;
}
/******************ボーダーボタン内のラベル*******************/
/* pink */
.topmenu .btn-pink .label-default.label-outline {
	color: #f94d50;
}

/* カラムのセンター揃え　機能拡張 */
.row-center {
	text-align: center;
	letter-spacing: -0.4em;
}

.row-center > [class*='col-'] {
	display: inline-block;
	letter-spacing: 0;
	vertical-align: middle;
	float: none !important;
}

/*要素の上下センター合わせ*/
.row-center.va-middle > [class*='col-'] {
	vertical-align: middle;
}

@media (max-width: 768px) {
	.row-center > [class*='col-sm-'] {
		display: block;
		letter-spacing: 0;
	}
}

/*要素の下揃え*/
	.row-center.va-bottom > [class*='col-'] {
	vertical-align: bottom;
}

/*===== インデント追加 =====*/

.ind_01 {
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

.ind_012 {
	display: block;
	padding-left: 1.2em;
	text-indent: -1.2em;
}

.ind_015 {
	display: block;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.ind_02 {
	display: block;
	padding-left: 2em;
	text-indent: -2em;
}

.ind_025 {
	display: block;
	padding-left: 2.5em;
	text-indent: -2.5em;
}

.ind_03 {
	display: block;
	padding-left: 3em;
	text-indent: -3em;
}

.ind_04 {
	display: block;
	padding-left: 4em;
	text-indent: -4em;
}

.ind_05 {
	display: block;
	padding-left: 5em;
	text-indent: -5em;
}

.ind_06 {
	display: block;
	padding-left: 6em;
	text-indent: -6em;
}

.ind_075 {
	display: block;
	padding-left: 7.5em;
	text-indent: -7.5em;
}


