htdocs.ssl/fukushima/.htaccess
.htpasswd
**.tgz

**.php.[0-9]*
**.css.[0-9]*
**.tpl.[0-9]*
**.xlsx.[0-9]*
**.*.bak
**.*.2*
**.*.1*

etc/fukushima/adm/config

#htdocs.ssl/fukushima/c
#htdocs.ssl/data
#htdocs.ssl/fukushima/images
#htdocs.ssl/js
#htdocs.ssl/fukushima/app/*/images
htdocs.ssl/fukushima/adm/lib/*/vendor
htdocs.ssl/fukushima/adm/lib/tgMdk


**/frm
**/*.bak*
**/*.bk*
**.1*
**.2*

htdocs.ssl/fukushima/images_m
#php

