#AuthType Basic
#AuthName "Input your ID and Password."
#AuthUserFile /www/etc/.htpasswd
#require valid-user

#php_flag display_errors On
#php_flag opcache.enable Off

<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /
RewriteRule ^index\.php - [L]

RewriteCond %{REQUEST_URI} !/js/
RewriteCond %{REQUEST_URI} !/lib/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /app/shopping/index.php [END]

</IfModule>