@charset "UTF-8";

/*
--------------------------------------------------
SITEMAP style
author: HPG ogiwara
version: Aug 2020
--------------------------------------------------*/

.btn {
	white-space: normal;
}